# Server Configuration
PORT=5000
NODE_ENV=development

# MongoDB Connection String (Local MongoDB or MongoDB Atlas URI)
# Local example: mongodb://127.0.0.1:27017/hospital_management
# Atlas example: mongodb+srv://<username>:<password>@cluster0.mongodb.net/hospital_management?retryWrites=true&w=majority
MONGO_URI=mongodb://127.0.0.1:27017/hospital_management

# JSON Web Token Secret Key
JWT_SECRET=super_secret_hospital_jwt_key_2025_secure_and_long

# Allowed CORS Origins
CLIENT_URL=http://localhost:5173
DASHBOARD_URL=http://localhost:5174
