PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://127.0.0.1:27017/hospital_management
JWT_SECRET=super_secret_hospital_jwt_key_2025_secure_and_long
CLIENT_URL=http://localhost:5173
DASHBOARD_URL=http://localhost:5174
